@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
	max-width: 300px;
	margin: 0 auto 20px;
}

.search {
	width: 100%;
	max-width: 500px;
}

.event-card {
	width: 200px;
	margin: auto;
}
